*.zip filter=lfs diff=lfs merge=lfs -text
dev_sql.zip filter=lfs diff=lfs merge=lfs -text
importsql.sh filter=lfs diff=lfs merge=lfs -text
train_sql.zip filter=lfs diff=lfs merge=lfs -text
使用方法.txt filter=lfs diff=lfs merge=lfs -text
